<app-button [classes]="['btn']">默认按钮</app-button>
<app-button [classes]="['btn', 'primary']">主要按钮</app-button>
<app-button [classes]="['btn', 'warn']">警告按钮</app-button>
<app-button [classes]="['btn', 'primary']" [disabled]="true">禁用按钮</app-button>
<app-button [classes]="['btn', 'success']">成功按钮</app-button>

<hr>
<p class="text-base font-mono">hello works!</p>
<p class="text-sm font-sans text-blue-500">{{!name ? true : false}}</p>
<button (click)="update.emit({sum: age})" class="text-white bg-blue-600 hover:bg-blue-800 font-weight rounded-lg text-base px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700">确定</button>
<div [id]="'box'">属性绑定</div>

<h3 [class.h3Dom]="true">h3Dom</h3>

<p [class]="item">class绑定</p>

<p ngClass="item">ok</p>

<div>
  <p *ngIf="h3Dom">是</p>
  <p *ngIf="!h3Dom">否</p>
</div>

<p>{{age}}</p>

<ng-content></ng-content>

<ul>
  <li *ngFor="let item of [1, 2, 3]">{{item}}</li>
</ul>

<button mat-raised-button color="primary" (click)="toggleSkills()">
  {{ showSkills ? '隐藏技能' : '显示技能' }}
</button>

<div *ngIf="showSkills; else elseBlock">
  Content show
</div>

<ng-template #elseBlock>
  <div>Content no show</div>
</ng-template>

<div [ngSwitch]="type">
  <div *ngSwitchCase="1">type:1</div>
  <div *ngSwitchCase="2">type:2</div>
  <div *ngSwitchDefault>type != 1 && type != 2</div>
</div>

<hr>

<input #userName matInput type="text" (change)="inputChanged($event)">
<button mat-raised-button color="accent" (click)="clickFn(userName.value)">点击</button>

<hr>

<!-- 双向绑定 只对表单有效-->
<input type="text" [(ngModel)]="title" class="border border-gray-400 rounded-md py-1"/>
<p>{{title}}</p>

<div *ngIf="showSkills">
  <h3>我的技能</h3>

  <form (submit)="addSkill(skill.value)">
    <label>添加技能</label>
    <input type="text" #skill class="border border-gray-400 rounded-md">
  </form>

  <ul>
    <li *ngFor="let item of skills" class="text-base text-blue-400">{{item}}</li>
  </ul>
</div>

<hr>

年龄：<input type="text" [formControl]="age2" class="border border-gray-400 rounded-md"/>
<br>
<p class="text-base text-red-300">年龄{{age2.value}}</p>
<button mat-raised-button color="primary" (click)="ageChangeFun()">长大</button>

<hr>
<form [formGroup]="loginForm" class="flex flex-col gap-4">
  <label class="text-base">
    账号:
    <input type="text" formControlName="username" class="text-sm border border-gray-400 rounded-md"/>
  </label>

  <label class="text-base">
    密码:
    <input [type]="type" formControlName="password" class="text-sm border border-gray-400 rounded-md"/>
    <button mat-icon-button (click)="changeType()" class="right-10 top-2">
      <mat-icon aria-hidden="false" fontIcon="visibility"></mat-icon>
    </button>
  </label>
</form>

<hr>
<input type="file"/>

<div class="flex w-screen">
  <div class="w-10 bg-slate-500"></div>
  <div class="flex-1 bg-blue-500"></div>
</div>

<div class="relative w-screen">
  <div class="w-10 bg-red-200"></div>
  <div class="ml-10 bg-green-300"></div>
</div>