div {
  font-size: 16px;
  font-weight: 400;
  color: black;
}

button {
  display: inline-flex;
  box-shadow: none;
  font-size: 16px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 16px;
  color: #fff;
  background: rgb(0, 145, 255);
  border: 1px solid rgb(128, 128, 128, 0.1);
  border-radius: 5px;
}